---
import { Aside } from "@astrojs/starlight/components";
---

<Aside type="note">This project has a <a href="/reference/code-of-conduct/">Code of Conduct</a>. By interacting with this repository, organization, and/or community you agree to abide by its terms.</Aside>
